.table {
    margin: 0;
    padding-bottom: 1rem;
}

nav {
    position: relative;
    overflow-x: auto;
}

.button {
    border: none;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.erase, .confirm {
    background-color: #f44336;
}
.erase:hover, .confirm:hover {
    color: white;
    background-color: #440000;
}

.update, .insert {
    background-color: #4CAF50;
}
.update:hover, .insert:hover {
    color: white;
    background-color: #004400;
}

footer {
    background-color: #292b2c;
    color: white;
    min-height: 100%;
    height: 50px;
}

.author-credits {
    position: relative;
    font-family: Helvetica;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    top: 1rem;
}

.id, .nombres, .apellidos, .cedula, .correo, .telefono, .operaciones, {
    width: 25px;
}
